.detail_div {
    color: #FF6060;
    background-color: white;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    display:block;
    z-index: 2;
    .title_div {
        display: grid;
        justify-content:space-between;
        width: 70%;
        .h2_detail {
            margin: 0;
            font-size: 36px;
            font-weight: normal;
            margin-bottom: 10px;
        }
        .h3_detail {
            margin: 0;
            font-size: 18px;
            font-weight: normal;
        }
    }
    .div_host {
        display: flex;
        gap: 10px;
        float:right;
        margin-top: -82px;
        .h3_host {
            text-align: right;
            width: 100px;
            font-weight: normal;
        }
        .img_host {
            height: 64px;
            border-radius: 100%;
        }
    }
    .tag_star {
        display: flex;
        justify-content:space-between;
        width: 100%;
        .tag {
            display: flex;
            gap: 10px;
            padding: 0;
            margin-top: 20px;
            .li_tag {
                color: white;
                background-color: #FF6060;
                border-radius: 10px;
                font-size: 14px;
                width: 115px;
                padding-top: 2px;
                padding-bottom: 2px;
                text-align: center;
            }
        }
        .star {
            float: right;
            display: flex;
            gap: 15px;
            .grey {
                color:#E3E3E3;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .detail_div {
        margin-left: 20px;
        margin-right: 20px;
        display: grid;
        .div_host {
            position: absolute;
            margin: 0;
            bottom: 5%;
            right: 0;
        }
        .tag_star {
            display: block;
            justify-content: space-between;
            float: none;
            width: 100%;
            .star {
                float: left;
                padding-left: 0;
            }
        }
    }
}