.header {
    position: sticky;
    display: flex;
    justify-content:space-between;
    padding-inline:100px;
    padding-block:30px;
    align-items:center
}

.ul_nav {
    display: flex;
    color: #FF6060;
}

.li_nav {
    padding-inline: 10px;
}

.a_nav:hover {
    text-decoration: underline;
}